.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #070a0c;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000000;

    transition: all 900ms ease 1.2s;

    &.active {
        opacity: 1;
        .loader__spin {
            animation: spin 1s linear infinite;
        }
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    &.white.active {
        background: #faf8f2;
        .loader__spin {
            animation-name: spinOrange;
        }
    }
}
.loader__spin {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px;
}

@keyframes spin {
    0% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff, 30px 10px #fff,
            20px 20px #fff, 10px 30px #fff, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent,
            -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
            -10px -30px transparent;
    }
    6.25% {
        box-shadow: 0px -30px transparent, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff,
            30px 10px #fff, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    12.5% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff,
            30px 10px #fff, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px #fff, -20px 20px transparent,
            -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
            -10px -30px transparent;
    }
    18.75% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px #fff,
            30px 0px #fff, 30px 10px #fff, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px #fff,
            -20px 20px #fff, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    25% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px #fff, 30px 10px #fff, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px #fff,
            -20px 20px #fff, -30px 10px #fff, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
            -10px -30px transparent;
    }
    31.25% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px #fff, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px #fff,
            -20px 20px #fff, -30px 10px #fff, -30px 0px #fff, -30px -10px transparent, -20px -20px transparent,
            -10px -30px transparent;
    }
    37.5% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px #fff, 10px 30px #fff, 0px 30px #fff, -10px 30px #fff,
            -20px 20px #fff, -30px 10px #fff, -30px 0px #fff, -30px -10px #fff, -20px -20px transparent,
            -10px -30px transparent;
    }
    43.75% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px #fff, 0px 30px #fff,
            -10px 30px #fff, -20px 20px #fff, -30px 10px #fff, -30px 0px #fff, -30px -10px #fff, -20px -20px #fff,
            -10px -30px transparent;
    }
    50% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px #fff,
            -10px 30px #fff, -20px 20px #fff, -30px 10px #fff, -30px 0px #fff, -30px -10px #fff, -20px -20px #fff,
            -10px -30px #fff;
    }
    56.25% {
        box-shadow: 0px -30px #fff, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
            0px 30px transparent, -10px 30px #fff, -20px 20px #fff, -30px 10px #fff, -30px 0px #fff, -30px -10px #fff,
            -20px -20px #fff, -10px -30px #fff;
    }
    62.5% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
            0px 30px transparent, -10px 30px transparent, -20px 20px #fff, -30px 10px #fff, -30px 0px #fff,
            -30px -10px #fff, -20px -20px #fff, -10px -30px #fff;
    }
    68.75% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px transparent, 30px 0px transparent,
            30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px #fff, -30px 0px #fff, -30px -10px #fff,
            -20px -20px #fff, -10px -30px #fff;
    }
    75% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px transparent,
            30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px #fff, -30px -10px #fff,
            -20px -20px #fff, -10px -30px #fff;
    }
    81.25% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff,
            30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
            -30px -10px #fff, -20px -20px #fff, -10px -30px #fff;
    }
    87.5% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff, 30px 10px #fff,
            20px 20px transparent, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px #fff, -10px -30px #fff;
    }
    93.75% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff, 30px 10px #fff,
            20px 20px #fff, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent,
            -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
            -10px -30px #fff;
    }
    100% {
        box-shadow: 0px -30px #fff, 10px -30px #fff, 20px -20px #fff, 30px -10px #fff, 30px 0px #fff, 30px 10px #fff,
            20px 20px #fff, 10px 30px #fff, 0px 30px transparent, -10px 30px transparent, -20px 20px transparent,
            -30px 10px transparent, -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
            -10px -30px transparent;
    }
}
@keyframes spinOrange {
    0% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px transparent, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    6.25% {
        box-shadow: 0px -30px transparent, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    12.5% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px #ff7120, 30px -10px #ff7120,
            30px 0px #ff7120, 30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
            -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
    }
    18.75% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px #ff7120,
            30px 0px #ff7120, 30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px transparent, -30px 0px transparent,
            -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
    }
    25% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px #ff7120, 30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    31.25% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
    37.5% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120, -30px -10px #ff7120,
            -20px -20px transparent, -10px -30px transparent;
    }
    43.75% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px #ff7120, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120, -30px -10px #ff7120,
            -20px -20px #ff7120, -10px -30px transparent;
    }
    50% {
        box-shadow: 0px -30px transparent, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px #ff7120,
            -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120, -30px -10px #ff7120,
            -20px -20px #ff7120, -10px -30px #ff7120;
    }
    56.25% {
        box-shadow: 0px -30px #ff7120, 10px -30px transparent, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
            0px 30px transparent, -10px 30px #ff7120, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120,
            -30px -10px #ff7120, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    62.5% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px transparent, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
            0px 30px transparent, -10px 30px transparent, -20px 20px #ff7120, -30px 10px #ff7120, -30px 0px #ff7120,
            -30px -10px #ff7120, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    68.75% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px transparent,
            30px 0px transparent, 30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
            0px 30px transparent, -10px 30px transparent, -20px 20px transparent, -30px 10px #ff7120, -30px 0px #ff7120,
            -30px -10px #ff7120, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    75% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px transparent,
            30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px #ff7120,
            -30px -10px #ff7120, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    81.25% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px transparent, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
            -30px -10px #ff7120, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    87.5% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px #ff7120, 20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
            -10px 30px transparent, -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
            -30px -10px transparent, -20px -20px #ff7120, -10px -30px #ff7120;
    }
    93.75% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px #ff7120, 20px 20px #ff7120, 10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px #ff7120;
    }
    100% {
        box-shadow: 0px -30px #ff7120, 10px -30px #ff7120, 20px -20px #ff7120, 30px -10px #ff7120, 30px 0px #ff7120,
            30px 10px #ff7120, 20px 20px #ff7120, 10px 30px #ff7120, 0px 30px transparent, -10px 30px transparent,
            -20px 20px transparent, -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
            -20px -20px transparent, -10px -30px transparent;
    }
}
