.version {
    h2 {
        margin-bottom: 0px;
    }
    .block-header {
        position: relative;
        .line {
            bottom: -20px;
            top: auto;
            left: 200px;
        }
    }
    &__table {
        font-family: "NeueMachina-Regular";
        border-collapse: collapse;
        border-spacing: 0;
        position: relative;
        height: calc(100% - 300px);
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        margin-top: 15px;
        flex: 1 1 auto;

        & img {
            display: block;
            margin: 0 auto;
            width: 30px;
            height: 20px;
            object-fit: contain;
        }

        tr {
            display: flex;
            // align-items: center;
            width: 100%;
            justify-content: space-between;
            // border: 1px solid rgba(152, 173, 211, 0.2);

            &:first-child {
                & th:first-child {
                    border: none;
                }
            }
        }
        th {
            color: #7d91ae;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
        }
        td,
        th {
            padding: 24px;
            display: block;
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            display: flex;
            align-items: center;
            border: 1px solid rgba(152, 173, 211, 0.2);
            &:nth-child(1) {
                width: 100%;
                flex: 1 1 auto;
            }
            &:nth-child(2),
            &:nth-child(3) {
                min-width: 190px;
                flex: 0 0 190px;
            }

            &:last-child {
                border: 1px solid transparent;
                border-image: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
                border-image-slice: 1;
            }
        }
    }
    .btns {
        gap: 18px;
        margin-top: 40px;
        .btn {
            padding: 15px 50px;
        }
        .btn-with-border {
            max-width: 100%;
        }
        .label {
            flex: 1 1 auto;
        }
    }
}
@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
    .version {
        .block-header {
            .line {
                left: 0px;
                bottom: calc(-100% + 20px);
                width: calc(100% - 420px);

                & svg {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 5/1;
                    object-fit: contain;
                }
            }
        }
        &__table {
            td {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .version {
        .block-header {
            .line {
                left: 0px;
                bottom: calc(-100% + 20px);
                width: calc(100% - 320px);

                & svg {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 5/1;
                    object-fit: contain;
                }
            }
        }
        &__table {
            td {
                font-size: 16px;
            }
            th {
                font-size: 18px;
            }
            td,
            th {
                &:nth-child(2),
                &:nth-child(3) {
                    min-width: 140px;
                    flex: 0 0 140px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .version {
        .block-header {
            .line {
                left: 0px;
                bottom: calc(-100% + 40px);
                width: calc(100% - 220px);

                & svg {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 5/1;
                    object-fit: contain;
                }
            }
        }
        &__table {
            td {
                font-size: 12px;
                padding: 10px 24px;
            }
            th {
                font-size: 12px;
                padding: 24px 6px;
            }
            td,
            th {
                &:nth-child(2),
                &:nth-child(3) {
                    min-width: 85px;
                    flex: 0 0 85px;
                }
            }
            img {
                width: 15px;
                height: 9px;
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .version {
        &__table {
            td {
                word-break: break-all;
            }
        }
    }
}
