.faq {
    padding-bottom: 80px;
    &__question {
        padding: 18px 40px;
        max-width: 100%;
        align-items: center;
        gap: 40px;
        cursor: pointer;
        font-family: "NeueMachina-Regular";
        color: #fff;

        &:not(:first-child) {
            margin-top: 24px;
        }

        &:hover,
        &.active {
            .border {
                background: linear-gradient(0deg, #fff 0%, #fff 100%) !important;
            }
            &::after,
            &::before {
                border-image: linear-gradient(90deg, #fff 0%, #fff 100%) 2 !important;
            }
        }

        &.active .faq {
            &__toggle {
                rotate: 45deg;
            }
        }
    }
    &__answer {
        display: none;

        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 24px 40px 16px 40px;

        &.active {
            display: block;
        }
    }
    &__toggle {
        flex: 0 0 12px;
        width: 12px;
        height: 12px;
        position: relative;
        margin-left: auto;
        transition: all 300ms ease;
        &::before {
            content: "";
            width: 2px;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0px;
            transform: translate(-50%, 0%);
            background: #fff;
        }
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(0%, -50%);
            background: #fff;
        }
    }
}
@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .faq {
        &__question {
            padding: 14px 20px;
            font-size: 14px;
            gap: 20px;
        }
        &__answer {
            font-size: 14px;
            padding: 14px 10px;
            line-height: 1.2;
        }
    }
}

@media only screen and (max-width: 450px) {
}
