@function rem($px) {
    @return ($px / 14px) + rem;
}

.version.white {
    .container {
        padding-bottom: 80px;
    }
    .block-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(40px);
        h2 span {
            padding: rem(16px) rem(92px);
        }
        p {
            max-width: 495px;
        }
        .line {
            top: 40px;
            left: 280px;
        }
        span .corner {
            &.top {
                top: -1px;
            }
        }
    }
    tr:nth-child(1) {
        th:first-child {
            border: none;
        }
        th:nth-child(2) {
            border-radius: 5px 0px 0px 0px;
        }
        th:nth-child(3) {
            border-top: 1px solid #ff7120;
            border-radius: 0px 5px 0px 0px;
        }
    }
    tr:nth-child(2) {
        td:first-child {
            border-top: 1px solid #bebcbf;
            border-radius: 5px 0px 0px 0px;
        }
    }
    tr:last-child {
        td:first-child {
            border-radius: 0px 0px 0px 5px;
        }
        td:nth-child(3) {
            border-radius: 0px 0px 5px 0px;
            // clip-path: polygon(20% 0%, 90% 0%, 100% 0, 100% 40%, 80% 100%, 20% 100%, 0 100%, 0 0);
        }
    }
    td,
    th {
        color: #1a1717;
        border-color: #bebcbf;
        background: #fff;

        & p {
            text-align: center;
            font-family: "NeueMachina-Regular";
        }
        span {
            font-family: "NeueMachina-Ultrabold";
        }
        &:last-child {
            border-image: none;
            border-color: #ff7120;
            border-top: none;
        }
        &:nth-child(2),
        &:nth-child(3) {
            min-width: 147px;
            flex: 0 0 147px;
            padding: 24px 5.5px;
        }
    }

    td {
        &:nth-child(2),
        &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    th:first-child {
        background: transparent;
    }
    .btn-with-image {
        gap: rem(8px);

        img {
            height: 12px;
            width: 12px;
        }
    }
    .label__text {
        font-weight: 400;
        font-size: rem(18px);
        color: #1a1717;
        font-family: "NeueMachina-Regular";
    }
}

@media only screen and (max-width: 992px) {
    .version.white {
        .block-header {
            flex-direction: column;
            gap: rem(24px);
            .line {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .version.white {
        .block-header {
            h2 {
                max-width: 100%;
                width: 100%;
                span {
                    max-width: 100%;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .version__table {
            tr:nth-child(2),
            tr:last-child {
                td:nth-child(2) {
                    p {
                        font-size: 14px;
                    }
                }
            }
            td {
                p {
                    font-size: 14px;
                }
                &:nth-child(1) {
                    p {
                        display: flex;
                        flex-direction: column;
                        max-width: 160px;
                        font-size: 12px;
                        text-align: left;
                        word-break: break-all;
                    }
                }
                &:nth-child(2) {
                    p {
                        font-size: 10px;
                    }
                }
            }
            td,
            th {
                &:nth-child(2),
                &:nth-child(3) {
                    min-width: 90px;
                    flex: 0 0 90px;
                    padding: 24px 5.5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 395px) {
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
}
