.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    transition: all 300ms ease;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        border-radius: 12px;
        width: 50vw;

        position: relative;

        & video {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        &__content {
            width: 80vw;
        }
    }
}
@media screen and (orientation: landscape) {
    .modal {
        &__content {
            padding-top: 80px;
        }
    }
}
