@function rem($px) {
    @return ($px / 14px) + rem;
}
.subintro-finger {
    &.block-dashed-sides .container {
        padding: rem(30px) rem(24px) 0px;
    }
    &__row {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        p {
            font-size: rem(24px);
            font-family: "NeueMachina-Regular";
        }
    }
    &__item {
        max-width: 300px;
        font-size: rem(24px);
        color: #1c1818;
        padding-bottom: rem(60px);

        position: relative;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: #bebcbf;
            display: block;
            margin-bottom: rem(16px);
        }
    }
    &__img {
        display: block;
        flex: 1 1 auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        max-width: 340px;
    }
}
@media only screen and (max-width: 992px) {
    .subintro-finger {
        aspect-ratio: 9.44/4.16;
        &__row {
            align-items: flex-start;
            justify-content: space-between;

            & img {
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translate(-50%, 0%);
                aspect-ratio: 3.74/3.36;
                width: 33.3333%;
            }
        }
        &__item {
            max-width: 33%;
            padding-bottom: 0px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .subintro-finger {
        aspect-ratio: 7.68/3.13;
        &__row {
            align-items: flex-start;
            justify-content: space-between;

            p {
                font-size: rem(20px);
            }
            & img {
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translate(-50%, 0%);
                aspect-ratio: 3.44/3.13;
                width: 33.3333%;
            }
        }
        &__item {
            max-width: 30%;
        }
    }
}
@media only screen and (max-width: 450px) {
    .subintro-finger {
        aspect-ratio: 4.5/2.88;
        &__row {
            align-items: flex-start;
            justify-content: space-between;

            p {
                font-size: rem(16px);
            }
            & img {
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translate(-50%, 0%);
                aspect-ratio: 2.4/1.88;
                width: 100%;
                max-width: 240px;
            }
        }
        &__item {
            max-width: calc(50% - 10px);
            position: absolute;
            top: calc(100% + 5px);
            width: 100%;

            &:first-child {
                left: 15px;
            }
            &:last-child {
                right: -15px;
            }
            &::before {
                display: none;
            }
        }
    }
}
