@function rem($px) {
    @return ($px / 14px) + rem;
}
.subintro-finger {
    position: relative;
    z-index: 2;
    &.block-dashed-sides .container {
        padding: rem(30px) rem(24px) 0px;
    }
    &__row {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        justify-content: space-between;
        min-height: 260px;
        p {
            font-size: rem(24px);
            font-family: "NeueMachina-Regular";
        }
    }
    &__item {
        max-width: 300px;
        font-size: rem(24px);
        color: #1c1818;
        padding-bottom: rem(60px);

        position: relative;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: #bebcbf;
            display: block;
            margin-bottom: rem(16px);
        }
    }
    &__video {
        display: block;
        flex: 1 1 auto;
        aspect-ratio: 6/6.3;
        object-fit: cover;
        max-width: 600px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}
@media only screen and (max-width: 992px) {
    .subintro-finger {
        // aspect-ratio: 9.44/4.16;
        &__row {
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 0px;
        }
        &__video {
            max-width: 500px;
        }
        &__item {
            max-width: 33%;
            padding-bottom: 0px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .subintro-finger {
        aspect-ratio: 7.68/3.13;
        &__row {
            p {
                font-size: rem(20px);
            }
        }
        &.block-dashed-sides .container {
            padding: 0px rem(24px) 0px;
        }
        &__item {
            max-width: 30%;
        }
    }
}
@media only screen and (max-width: 450px) {
    .subintro-finger {
        aspect-ratio: auto;
        &__row {
            aspect-ratio: 4.28/4.49;
            p {
                font-size: rem(16px);
            }
        }

        &__video {
            max-width: calc(100% - 48px);
            aspect-ratio: 4.28/4.49;
        }

        &__item {
            max-width: calc(50% - 10px);
            position: absolute;
            top: calc(100% + 5px);
            width: 100%;

            &:first-child {
                left: 15px;
            }
            &:last-child {
                right: -15px;
            }
            &::before {
                display: none;
            }
        }
    }
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
    .subintro-finger {
        &__row {
            margin-top: 30px;
        }
        &__video {
            aspect-ratio: 6/6.8;
        }
    }
}
