.opportunities {
    position: relative;
    z-index: 1;
    .container {
        padding-bottom: 120px;
    }
    & + & {
        transform: translate(0px, -40px);
        z-index: 10;
        .container {
            padding-bottom: 24px;
            &::before {
                background: linear-gradient(48deg, #070a0c 34%, #090c0f 35%);
            }

            &::after {
                background: linear-gradient(132deg, #070a0c 34%, #090c0f 35%);
            }
            // &::before {
            //     left: 0px;
            // }
        }

        .line {
            display: none;
        }
        .lines__fixes {
            display: block;
            height: 40px;
            position: absolute;
            top: -5px;
            left: -1px;
            width: calc(100% + 1.5px);

            border-left: 1px solid #272c30;
            border-right: 1px solid #272c30;
            z-index: 10;
        }

        & .opportunities {
            &__row {
                counter-reset: counter 0;
                gap: 0px;
                &::after {
                    display: none;
                }
            }
            &__item {
                display: flex;
                flex-direction: column;
                border: 0px;
                padding: 24px;

                background: none;

                background-position: center center;

                animation: none;

                cursor: auto;

                transition: all 300ms ease;
                h3 {
                    order: -1;
                }

                &:first-child {
                    border-right: 2px dashed;
                    border-bottom: 2px dashed;
                    border-image: url("../../../img/svgicons/border.svg") 2 round round;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 300px;
                        top: 0px;
                        right: -20px;
                        background: linear-gradient(180deg, #090c0f 0%, #00000000 100%);
                    }
                }
                &:nth-child(2) {
                    border-bottom: 2px dashed;
                    border-image: url("../../../img/svgicons/border.svg") 2 round round;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 40px;
                        bottom: -20px;
                        right: 0px;
                        background: linear-gradient(-90deg, #090c0f 0%, #00000000 100%);
                    }
                }
                &:nth-child(3) {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 40px;
                        top: -20px;
                        left: 0px;
                        background: linear-gradient(90deg, #090c0f 0%, #00000000 100%);
                    }
                }
                &:nth-child(4) {
                    border-right: 2px dashed;
                    border-left: 2px dashed;
                    border-image: url("../../../img/svgicons/border.svg") 2 round round;
                }

                &.big {
                    padding-bottom: 64px;
                }
                & img {
                    display: block;
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                    aspect-ratio: 5.3/3.1;
                    object-fit: contain;
                    margin: 0px auto 16px;
                }
                &::before {
                    content: "0" counter(counter);
                    counter-increment: counter 1;
                    transform: none;
                    position: static;
                    border: none;
                    font-weight: 400;
                    font-size: 24px;
                    color: #fff;
                    background: url("../../../img//svgicons/cornerHow.svg");
                    background-size: cover;
                    padding: 18px 0px 0px 24px;
                    width: fit-content;
                    display: block;
                    height: fit-content;
                    margin-bottom: 40px;
                }
                & .plus {
                    &.top {
                        top: -6px;
                    }
                }
            }
        }
    }

    .line {
        top: 67px;
        left: 0px;

        &.right {
            left: auto;
            right: 0px;
            transform: scale(-1, 1);
        }

        &.right.bottom {
            transform: rotate(0deg);
            left: auto;
            right: 0px;
            top: 120px;
        }
    }

    &__row {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
        position: relative;
        z-index: 3;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 160px;
            width: 100%;
            background: linear-gradient(180deg, rgba(9, 12, 15, 0) 0%, #090c0f 100%);
            opacity: 1;
            transition: all 300ms ease;
        }

        &.active {
            &::after {
                opacity: 0;
            }
        }
    }

    &__item {
        border: 1.5px solid #272c30;
        border-radius: 5px;
        padding: 40px 24px;
        position: relative;
        grid-column: span 2;
        background: var(--main-bg) padding-box,
            // border-box extends this background to the border space
            var(--gradient-border) border-box,
            // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
            #272c30 border-box;

        background-position: center center;

        animation: bg-spin 3s linear infinite;
        animation-play-state: paused;

        transition: all 300ms ease;

        cursor: pointer;

        --border-angle: 0turn; // For animation.
        --main-bg: conic-gradient(from var(--border-angle), #0c1014, #0c1014 100%);

        --gradient-border: conic-gradient(
            from var(--border-angle),
            transparent,
            #3053f9 25%,
            #3ffbc7 59%,
            #35e9e4 75%,
            transparent
        );

        @keyframes bg-spin {
            to {
                --border-angle: 1turn;
            }
        }

        &:hover {
            border: solid 1.5px transparent;
            animation-play-state: running;
        }

        &.big {
            grid-column: span 3;
        }

        &::before {
            content: "";
            position: absolute;
            left: -8px;
            top: -16px;
            background: #090c0f;
            border-right: 1.5px solid #272c30;
            width: 27px;
            height: 51.5px;
            transform: rotate(41deg);
        }
    }
    & img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 189px;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 0px auto 16px;
    }
    .btn {
        margin: 80px auto 0px;
        padding: 15px 96px;
        font-size: 24px;
        position: relative;
        z-index: 3;

        &::before,
        &::after {
            background: #090c0f;
        }
    }

    .block-header {
        position: relative;
        z-index: 3;
        .btn {
            margin-top: 24px;

            font-weight: 400;
            font-size: 64px;
            text-align: center;
            padding: 24px;
        }

        h3 {
            max-width: fit-content;
            margin: 0px auto 40px;
        }

        &.big h2 {
            font-size: 64px;

            .btn {
                padding: 5px 22px 17px;
            }
        }

        span.white-space {
            height: 40px;
            bottom: 17px;
        }
    }
}
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@keyframes hero-preview-animation-line {
    0% {
        transform: translateZ(0) translate(-150px);
    }

    20% {
        transform: translateZ(0) translate(-150px, -1828px);
    }

    21% {
        transform: translateZ(0) translate(-150px, -1828px) rotate(45deg);
    }

    30% {
        transform: translateZ(0) translate(150px, -1828px) rotate(90deg);
    }

    45% {
        transform: translateZ(0) translate(968px, -1828px) rotate(90deg);
    }
    47% {
        transform: translateZ(0) translate(968px, -1840px) rotate(135deg);
    }

    54% {
        transform: translateZ(0) translate(968px, -1498px) rotate(180deg);
    }

    73% {
        transform: translateZ(0) translate(968px) rotate(180deg);
    }

    to {
        transform: translateZ(0) translate(968px) rotate(180deg);
    }
}
@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
    .hero-preview-animation-line,
    .hero-preview-animation {
        display: none;
    }
    .opportunities {
        padding: 0px 15px;
        &__row {
            grid-template-columns: repeat(4, 1fr);
        }
        .container {
            padding-top: 40px;
        }
        .line {
            top: 30px;
            max-width: 40%;

            & svg {
                width: 100%;
                object-fit: contain;
            }

            &.right.bottom {
                top: 160px;
                right: -20px;
                max-width: 30%;
            }
        }

        & + & .opportunities {
            &__row {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .opportunities {
        .line {
            top: 60px;
            max-width: 40%;

            & svg {
                width: 100%;
                object-fit: contain;
            }

            &.right.bottom {
                top: 100px;
                right: -20px;
                max-width: 30%;
            }
        }
        &__row {
            grid-template-columns: 1fr;
        }

        & + & .opportunities {
            &__row {
                grid-template-columns: 1fr;
            }
        }
        &__item {
            grid-column: span 1;
            &.big {
                grid-column: span 1;
            }
        }
        & + & {
            transform: translate(0px, -40px);
            z-index: 10;
            .container {
                padding-bottom: 24px;
                &::before,
                &::after {
                    overflow: hidden;
                    background: #090c0f;
                }
                // &::before {
                //     left: 0px;
                // }
            }

            .line {
                display: none;
            }

            & .opportunities {
                &__row {
                    counter-reset: counter 0;
                    gap: 0px;
                    &::after {
                        display: none;
                    }
                }
                &__item {
                    display: flex;
                    flex-direction: column;
                    border: 0px;
                    padding: 24px;
                    h3 {
                        order: -1;
                    }

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        border: none;

                        &::after {
                            display: none;
                        }
                    }

                    &.big {
                        padding-bottom: 0px;
                    }
                    & img {
                        display: block;
                        width: 100%;
                        height: auto;
                        max-width: 100%;
                        aspect-ratio: 5.3/3.1;
                        object-fit: contain;
                        margin: 0px auto 16px;
                    }
                    &::before {
                        content: "0" counter(counter);
                        counter-increment: counter 1;
                        transform: none;
                        position: static;
                        border: none;
                        font-weight: 400;
                        font-size: 24px;
                        color: #fff;
                        background: url("../../../img//svgicons/cornerHow.svg");
                        background-size: cover;
                        padding: 18px 0px 0px 24px;
                        width: fit-content;
                        display: block;
                        height: fit-content;
                        margin-bottom: 40px;
                    }
                    & .plus {
                        display: none;
                    }
                }
            }
        }

        .btn {
            padding: 10px 24px;
            font-size: 18px;
        }
        .block-header.center.big h2 {
            font-size: 32px;

            & .btn {
                font-size: 32px;
                max-width: fit-content;
                padding: 15px 24px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .opportunities {
        .block-header.center.flex h2 {
            font-size: 24px;
        }
    }
}
