.cases {
    &__row {
        display: flex;
        gap: 24px;
        min-width: 0px;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        flex: 0 0 270px;
        padding: 80px 0px;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        & img {
            width: 100%;
            height: auto;
            aspect-ratio: 3.6/2.5;
        }
    }

    &__arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    & &__prev,
    & &__next {
        display: flex;
        margin-top: 0px;
        transform: none;
        position: static;
        width: 73px;
        height: 124px;
    }

    .swiper-slide {
        padding: 40px 24px;
        background: #0c1014;
        border: 1px solid #272c30;
        border-radius: 5px;
        position: relative;

        display: flex;
        flex-direction: column;
        height: auto;

        .text-gradient {
            margin-top: auto;
        }

        &::before {
            content: "";
            position: absolute;
            left: -8px;
            top: -16px;
            background: #070a0c;
            border-right: 1px solid #272c30;
            width: 27px;
            height: 51.5px;
            transform: rotate(41deg);
        }

        & .btn {
            &::after,
            &::before {
                background: #0c1014;
            }

            & span.white-space {
                background: #0c1014;
            }
        }

        & .block-with-bg {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 240px;
            width: 100%;
            opacity: 0.3;
            z-index: 1;
        }
    }

    &__header {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
        z-index: 2;

        p {
            font-family: NeueMachina-Regular;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: #fff;
        }
        .btn {
            max-width: fit-content;
            width: fit-content;
            border: 2px solid transparent !important;
            border-image: linear-gradient(135deg, #3053f9 20%, #41ffc2 35%, #272c30 50%, #272c30 60%, #2edcf9 100%) 2 !important;
            &::after,
            &::before {
                border-width: 1px;
                height: 32px;
            }
            &::before {
                border-right: 2px solid transparent !important;
                border-image: linear-gradient(135deg, #315ff6 0%, #315ff6 100%) 2 !important;
                transform: rotate(36deg) !important;
                left: -14.5px !important;
            }
            &::after {
                border-right: 2px solid transparent !important;
                border-image: linear-gradient(135deg, #2edaf9bb 0%, #2edaf9bb 100%) 2 !important;
                transform: rotate(219deg) !important;
                width: 26.5px !important;
                height: 26px !important;
                right: -15.5px !important;
                bottom: -12px !important;
                border-radius: 0px;
            }
        }
    }

    & &__img.btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border: 1px solid transparent;
        border-color: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
        // border-image-slice: 1;
        border-radius: 6px;

        & img {
            height: 20px;
            width: 18px;
            object-fit: contain;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        & a {
            width: 100%;
            max-width: 100%;
            padding: 24px;
            margin: 24px 0px 40px;
        }

        .btn {
            padding: 18px 24px;
        }
    }

    blockquote {
        position: relative;
        padding: 30px 0px 10px;
        & span:first-child {
            position: absolute;
            display: block;
            font-weight: 400;
            font-size: 64px;
            text-transform: uppercase;
            background: linear-gradient(45deg, #3050fb 0%, #41ffc2 50%, #2edcf9 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1;
            width: 100%;
            top: 0px;
        }

        & span:nth-child(3) {
            font-weight: 400;
            font-size: 64px;
            text-transform: uppercase;
            text-align: right;
            background: linear-gradient(45deg, #3050fb 0%, #41ffc2 50%, #2edcf9 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 100%;
            display: block;
        }

        cite {
            display: flex;
            gap: 10px;
            transform: translate(0px, -30px);
            align-items: center;
            justify-content: space-between;

            & img.line {
                transform: translate(0px, -30px);
            }
        }
        & .line {
            position: static;
        }
    }
    cite {
        img {
            max-width: 20%;
        }
        p {
            font-style: normal;
            font-family: "NeueMachina-Regular";
        }
    }

    &__author {
        position: relative;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        overflow: hidden;

        & img {
            position: absolute;
            top: 0px;
            left: 0px;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .text-gradient {
        display: inline-block;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        background: linear-gradient(90deg, #3050fb 0%, #41ffc2 50%, #2edcf9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparen;
    }

    &__without-review {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #939597;
    }

    .btn img {
        aspect-ratio: 1/1;
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
    }
}
.button-container,
.btn-container {
    overflow: hidden;
}
@media only screen and (max-width: 992px) {
    .cases {
        &__row {
            flex-direction: column;
            min-width: 0px;

            .swiper {
                min-width: 0px;
                max-width: 100%;
            }
        }
        &__aside {
            // display: none;
            order: 2;
            flex: none;
            padding: 0px;
            gap: 0px;
            & img {
                display: none;
            }
            .btn img {
                display: block;
            }
        }
        &__arrows {
            display: none;
        }

        &__header {
            & .btn img {
                display: block !important;
            }
        }
        &__body {
            h3 {
                font-size: 24px;
            }
        }

        .block-header {
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .cases {
        .line {
            display: none;
        }
        &__header {
            flex-wrap: wrap;
        }

        .text-gradient {
            font-size: 18px;
        }
        blockquote cite {
            justify-content: flex-end;
        }
    }
}

@media only screen and (max-width: 450px) {
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
    .cases {
        .container {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__aside {
            gap: 10px;
            padding: 50px 0px;
        }
        & &__prev,
        & &__next {
            width: 50px;
            height: 100px;
        }
        &__header {
            margin-bottom: 20px;

            p {
                font-size: 18px;
            }
        }
        & &__img {
            height: 17px;
            width: 16px;
            flex: 0 0 16px;
        }
        &__body {
            .btn {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
        blockquote {
            padding-bottom: 0px;
            cite {
                gap: 20px;
                justify-content: flex-start;
                img.line {
                    transform: translate(0px, -10px);
                }
            }
        }
        &__author {
            width: 40px;
            height: 40px;
        }
        .swiper-slide {
            padding: 20px 25px;
        }
        .text-gradient {
            font-size: 14px;
        }
    }
}
