@function rem($px) {
    @return ($px / 14px) + rem;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    width: 100%;
    background: #070a0c;
    border: 1px solid #272c30;
    font-family: "NeueMachina-Regular";

    transition: all 300ms ease;

    svg {
        display: none;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 64px;
        gap: 20px;
    }

    &__logo {
        display: block;
        width: 121px;
        height: 58px;
        position: relative;
        margin-right: 50px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            object-fit: contain;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;

        flex: 1 1 auto;
    }

    &__links {
        display: flex;
        gap: 30px;
        align-items: center;
        // overflow: hidden;
        margin-left: auto;
        padding-left: 117px;

        .dropdown-container {
            position: relative;
            display: flex;
            align-items: center;

            &__row {
                padding: 12px;
                padding-bottom: 0px;

                li {
                    border: none !important;
                }
            }
        }

        a {
            transition: all 300ms ease;
        }
    }

    &__link-hover {
        position: relative;
        &::after,
        &::before {
            display: block;
            position: absolute;
            background: transparent;
            content: "";
            width: 16px;
            height: 16px;
            opacity: 0;
            border: 2px solid #fff;
            transition: all 300ms ease;
        }
        &::before {
            top: -5px;
            left: -10px;

            border-right: none;
            border-bottom: none;
            transform: translate(-10px);
        }
        &::after {
            bottom: -5px;
            right: -10px;
            transform: translate(10px);
            border-left: none;
            border-top: none;
        }
        &:hover {
            &::before {
                transform: translate(0px);
                opacity: 1;
            }
            &::after {
                transform: translate(0px);
                opacity: 1;
            }
        }
    }

    &__burger {
        display: none;
    }

    &__for-user {
        display: flex;
        gap: 30px;
        align-items: center;
        text-transform: uppercase;
        margin-left: auto;

        & .header-down__menu {
            max-width: fit-content;
            left: -20px;
            .header__link-btn {
                padding: 12px;

                & button {
                    display: block;
                    width: 100%;
                    background: none;
                    font-size: 18px;
                    text-align: left;
                }
            }
        }
    }

    &__btn {
    }

    &-down__menu {
        position: absolute;
        display: none;
        z-index: 3;

        padding-top: 66px;
        top: 0px;
        left: -50%;

        width: 380px;
        max-width: 380px;

        & li {
            justify-content: flex-start;
            transition: all 300ms ease;
            text-align: left;
            cursor: pointer;
            position: relative;
            list-style: none;
            padding: 15px 25px;
            &:not(:last-child) {
                border-bottom: 1px solid #272c30;
            }
            button {
                background: none;
                font-weight: 400;
                font-size: 18px;
            }
        }

        &.active {
            display: block;
        }
    }
    .container {
        display: none;
    }

    .footer__product {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        margin-bottom: 12px;
        background: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
        clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
        padding: 1px;
        padding-right: 1.2px;
        border-radius: 5px;
        position: relative;
        &-border {
            display: flex;
            gap: 16px;
            padding: 24px;
            clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
            background: #070a0c;
            border-radius: 5px;
            // height: 100%;
            flex: 1 1 auto;
            align-items: center;
            div {
                max-width: 200px;
            }
            & .arrow {
                width: 12px;
                height: 12px;
                flex: 0 0 12px;
            }
            & .logo {
                width: 50px;
                height: 50px;
                flex: 0 0 50px;
            }
        }

        .white-space {
            position: absolute;
            bottom: 30px;
            left: 0px;
            width: 2px;
            background: #070a0c;
            height: 14px;
            z-index: 10;
            top: auto;
        }
        .container {
            display: none;
        }
    }
}
.header.white {
    background: #faf8f2;
    border: none;
    border-bottom: 1px solid #bebcbf;
    & a {
        color: #000;
    }
    .dropdown-container {
        &__row {
            background: #faf8f2;
        }
    }

    .container {
        display: block;
        position: absolute;
        height: 100%;
        top: 0px;
        max-width: 1060px;
        left: calc(50%);
        transform: translate(-50%, 0%);
        border-left: 1px solid hsla(280, 2%, 74%, 0.5);
        border-right: 1px solid hsla(280, 2%, 74%, 0.5);
        width: 100%;
        padding: 0px;
    }
    .dropdown-container,
    .dropdown-container__row {
        border-color: #bebcbf;
    }

    & .header {
        &__burger {
            &::before,
            &::after,
            span {
                background: #bebcbf;
            }
        }
        &__logo {
            width: 292px;
        }
        &__links {
            .dropdown-container {
                position: relative;

                &::after,
                &::before {
                    background: #bebcbf;
                }
            }
            a:not(.header__link) {
                border-color: #bebcbf;
            }
        }
        &__for-user {
            border-color: #bebcbf;

            button {
                color: #1c1818;
            }
            li {
                border-color: #bebcbf;
            }
        }

        &__link-btn {
            display: block;
            filter: url("#rounded-corners");
            overflow: hidden;
            position: relative;

            & p {
                color: #1c1818;
            }
            button {
                color: #1c1818;
            }

            .footer__product {
                background: #bebcbf;
                clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
                padding: 1px 1.2px 1.5px 1.2px;
                border-radius: 5px;
                &-border {
                    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
                    background: #faf8f2;
                    border-radius: 20px 5px 10px 5px;
                    // height: 100%;
                }

                .white-space {
                    display: none;
                }
            }

            &:nth-child(2) {
                .footer__product {
                    background: #ff7120;
                }
            }
        }

        &__menu {
            // top: 92px;

            z-index: 10001;
        }
        &__link-hover {
            &::after,
            &::before {
                border-color: #ff7120;
            }
        }
        &__btn {
            margin: 0px;
        }
    }
}
.dropdown-container {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;

    &__row {
        border: 1px solid #272c30;
        border-radius: 0 0 5px 5px;
        // padding: 12px 12px 12px 12px;
        background: #070a0c;
    }
}
.dropdown-container .arrow {
    width: 12px;
    height: 7px;
    display: block;
    position: relative;
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        object-fit: contain;
    }
}

.projects__project {
    overflow: hidden;
    p {
        border: 2px solid transparent;
        cursor: pointer;
        max-width: -moz-fit-content;
        max-width: fit-content;
        padding: 10px;
        position: relative;
        transition: all 0.3s ease;
        z-index: 2;
        &::after,
        &::before {
            background: #f8f8f8;
            content: "";
            height: 20px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: all 0.3s ease;
            width: 100%;
        }
        &::before {
            bottom: -5px;
            left: 15px;
            right: auto;
            top: auto;
        }

        &:hover {
            border-color: #dc5435;

            &::before {
                transform: translate(-50px);
            }
            &::after {
                transform: translate(50px);
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .header {
        &__logo {
            margin-right: 20px;
            width: 56px;
            margin-right: 0px;

            & img {
                left: 0px;
                object-fit: contain;
            }
        }
        &__row {
            padding: 0px 10px;
        }
        &__links {
            gap: 20px;
            max-width: fit-content;
            margin-left: auto;
        }
        &__menu {
            gap: 20px;
        }
        &__btn {
            & img {
                display: none;
            }
        }
        &.white {
            .header {
                &__logo {
                    width: 56px;
                    margin-right: 0px;
                    & img {
                        left: 0px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .dropdown-container {
        position: relative;
        z-index: 3;
        flex-wrap: wrap;
        max-width: 420px;
        width: 100%;
        padding: 0px !important;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid #272c30;
        }

        &:last-child {
            .dropdown-container__row {
                border: none;
            }
            li {
                padding: 0px 18px;
            }
            li:not(:first-child) {
                padding-top: 24px;
            }
            li:not(:last-child) {
                padding-bottom: 24px;
            }
            li button {
                display: block;
                width: 100%;
                background: none;
                font-size: 18px;
                text-align: left;
            }
        }

        &__row {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            border-bottom: none;
            border-left: none;
        }
    }
    .arrow {
        margin-left: auto;
    }
    .header {
        &__row {
            justify-content: space-between;
            gap: 40px;
            padding: 16px;
            align-items: center;
        }
        &__logo {
            margin: 0px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 4;
            order: 3;
            &.burger-active::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &.burger-active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.burger-active span {
                display: none;
            }
        }
        &__burger span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            background: #ffffff;
        }
        &__catalog {
            order: 8;
        }
        &__burger::before,
        &__burger::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 300ms ease-out 0ms;
            z-index: 5;
            background: #ffffff;
        }
        &__burger::before {
            top: 0;
        }
        &__burger::after {
            bottom: 0;
        }

        &__menu {
            position: fixed;
            top: 91px;
            right: 0;
            transform: translate(0, -120%);

            opacity: 0;
            padding: 0px;
            z-index: 0;
            gap: 0px;

            width: 100%;
            max-width: 420px;
            height: calc(100vh - 90px);
            background: #070a0c;

            transition: transform 300ms ease 0ms, opacity 400ms ease-in 300ms;

            flex-direction: column;
            justify-content: flex-start;
            overflow-y: auto;

            &.burger-active {
                transform: translate(0%, 0%);
                opacity: 1;
                z-index: 0;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            align-items: flex-start;
            margin: 0;
            flex: none;
            gap: 0px;
            padding-left: 0px;

            & a:not(.header__link) {
                padding: 24px 18px;
                border-bottom: 1px solid #272c30;
                width: 100%;
            }
        }
        &__link {
            padding: 24px 16px;
            & + .arrow {
                margin: 0px 16px 0px auto;
            }
        }
        &-down__menu {
            position: static;
            position: relative;
            padding: 0px;
            left: 0px;
            flex: 1 1 100%;
            max-width: 420px;
            width: 420px;
        }
        &__for-user {
            order: -1;
            justify-content: space-between;
            width: 100%;
            padding: 24px 18px;
            border-bottom: 1px solid #272c30;
        }

        & a {
            font-size: 16px;
        }

        & a.footer__product {
            padding: 1px;
            p:first-child {
                font-size: 16px;
                margin-bottom: 8px;
            }
            p:last-child {
                font-size: 14px;
            }

            span.white-space {
                display: none;
            }
        }

        &__btn {
            padding: 12px 40px;
            margin: 0px;
            font-size: 18px;
            max-width: fit-content;
            width: fit-content;
        }
        .btn-finger {
            padding: 0px;
        }

        &.white {
            & .header {
                &__menu {
                    background: #faf8f2;
                }
            }
        }
    }
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
    .header {
        &__row {
            padding: 0px 15px;
            gap: 20px;
            justify-content: space-between;
        }

        &__link-hover {
            &::before {
                top: 0px;
            }
            &::after {
                bottom: 0px;
            }
        }

        &__btn {
            font-size: 20px;
            margin-left: 30px;
        }
        &__logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .footer__product {
            padding: 1.5px 1.5px 1.2px;
        }

        &-down__menu {
            padding-top: 79.5px;
        }

        &__for-user {
            .header-down__menu {
                padding-top: 59.8px;
            }
        }
    }
    .header.white {
        max-height: 85px;
        & .header {
            &__row {
                padding: 0px rem(24px);
                max-width: 1060px;
                margin: 0 auto;
                gap: rem(25px);
            }

            &__logo {
                width: 56px;
                flex: 0 0 56px;
                margin-left: rem(24px);

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__links {
                margin: 0px;
                padding: 0px;
            }
            &__link-btn {
                .footer__product {
                    padding-top: 1.5px;
                    padding-left: 1.8px;
                }
            }
            &-down__menu {
                padding-top: 54.5px;
            }

            &__for-user {
                margin-left: rem(47px);
            }
            &__btn {
                padding: 0px;
                margin-right: rem(24px);
            }
            &__link-hover {
                &::after {
                    bottom: -10px;
                }
                &::before {
                    top: -8px;
                }
            }
        }
    }
}
