.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    width: 100%;
    height: fit-content;
    background: #070a0c;
    border: 1px solid #272c30;
    font-family: "NeueMachina-Regular";

    transition: all 300ms ease;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 64px;
        gap: 20px;
    }

    &__logo {
        display: block;
        width: 121px;
        height: 58px;
        position: relative;
        margin: 14px 50px 14px 0px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            object-fit: contain;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;

        flex: 1 1 auto;
        max-width: 1300px;
    }

    &__links {
        display: flex;
        gap: 30px;
        align-items: center;
        // overflow: hidden;\
        margin-left: auto;

        .dropdown-container {
            position: relative;
            display: flex;
            align-items: center;
        }

        a {
            transition: all 300ms ease;

            &:nth-child(2) {
                min-width: 120px;
            }
            &:nth-child(3) {
                min-width: 50px;
            }
            &:nth-child(4) {
                min-width: 85px;
            }
        }
    }

    &__burger {
        display: none;
    }

    &__for-user {
        display: flex;
        gap: 30px;
        align-items: center;
        text-transform: uppercase;
        margin-left: auto;

        & .header-down__menu {
            max-width: 80px;
            left: -20px;
            padding-top: 51px;
            & li {
                padding: 12px;

                & button {
                    display: block;
                    width: 100%;
                    background: none;
                    font-size: 18px;
                    text-align: left;
                }
            }
        }
    }

    &__btn {
        padding: 12px 24px;
        font-size: 24px;
        gap: 16px;
        margin: 14px 0px;
        span {
            height: 25px;
            bottom: 10px;
        }
    }

    &-down__menu {
        position: absolute;
        display: none;
        z-index: 3;

        padding-top: 86px;
        top: 0px;
        left: -50%;

        width: 380px;
        max-width: 380px;

        & li {
            justify-content: flex-start;
            transition: all 300ms ease;
            text-align: left;
            cursor: pointer;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid #272c30;
            }
        }

        &.active {
            display: block;
        }
    }

    .footer__product {
        margin-bottom: 0px;
    }

    &.white {
        background: #faf8f2;
        border: 1px solid #bebcbf;
        & a {
            color: #1c1818;
        }
        .dropdown-container {
            .arrow {
                &::after,
                &::before {
                    background: #1c1818;
                }
            }
        }

        & .header {
            &__links {
                .dropdown-container {
                    position: relative;

                    &::after,
                    &::before {
                        background: #bebcbf;
                    }
                }
            }
        }
    }
}
.dropdown-container {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 8px;

    &__row {
        border: 1px solid #272c30;
        border-radius: 0 0 5px 5px;
        // padding: 12px 12px 12px 12px;
        background: #070a0c;
    }
}
.dropdown-container .arrow {
    width: 16px;
    height: 15px;
    display: block;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        background: #fff;
        top: 8px;
        transition: all 300ms ease;
    }
    &::after {
        rotate: -45deg;
        right: 0px;
    }
    &::before {
        rotate: 45deg;
        left: 0px;
    }
}

@media only screen and (max-width: 1440px) {
    .header {
        &__logo {
            margin-right: 20px;
        }
        &__links {
            gap: 20px;
        }
        &__menu {
            gap: 20px;
        }
        &__btn {
            & img {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .header {
        &__logo {
            width: 56px;
            margin-right: 0px;
            & img {
                left: 0px;
                object-fit: contain;
            }
        }
        &__row {
            padding: 0px 10px;
        }
        &__links {
            gap: 0px;
        }
    }
}

@media only screen and (max-width: 1300px) and (min-width: 992px) {
    .dropdown-container .arrow {
        width: 13px;
        height: 13px;
        display: block;
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 1px;
            background: #fff;
            top: 6px;
            transition: all 300ms ease;
        }
        &::after {
            rotate: -45deg;
            right: 0px;
        }
        &::before {
            rotate: 45deg;
            left: 0px;
        }
    }
    .header {
        &__logo {
            margin-right: 0px;
        }
        &__row {
            padding: 0px 15px;
            gap: 20px;
            justify-content: space-between;
        }
        &__links {
            gap: 20px;
            a {
                font-size: 13px;
            }

            .dropdown-container {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        &__for-user {
            & a {
                font-size: 13px;
            }
        }
        &__btn {
            font-size: 20px;
            margin-left: 30px;
        }
        &__logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .footer__product {
            padding: 15px;
            p:first-child {
                font-size: 13px;
            }
            p:last-child {
                font-size: 10px;
            }

            img {
                width: 40px;
                height: 40px;
            }

            & > div + img {
                width: 8px;
                height: 9px;
                object-fit: contain;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .dropdown-container {
        position: relative;
        z-index: 3;
        flex-wrap: wrap;
        max-width: 420px;
        width: 100%;
        padding: 0px !important;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid #272c30;
        }

        &:last-child {
            .dropdown-container__row {
                border: none;
            }
            li {
                padding: 0px 18px;
            }
            li:not(:first-child) {
                padding-top: 24px;
            }
            li:not(:last-child) {
                padding-bottom: 24px;
            }
            li button {
                display: block;
                width: 100%;
                background: none;
                font-size: 18px;
                text-align: left;
            }
        }

        &__row {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
    .arrow {
        margin-left: auto;
        &.active {
            &::after {
                rotate: 45deg;
            }
            &::before {
                rotate: -45deg;
            }
        }
    }
    .header {
        &__row {
            justify-content: space-between;
            gap: 40px;
            padding: 16px;
            align-items: center;
        }
        &__logo {
            margin: 0px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 4;
            order: 3;
            &.burger-active::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &.burger-active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            &.burger-active span {
                display: none;
            }
        }
        &__burger span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            background: #ffffff;
        }
        &__catalog {
            order: 8;
        }
        &__burger::before,
        &__burger::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 300ms ease-out 0ms;
            z-index: 5;
            background: #ffffff;
        }
        &__burger::before {
            top: 0;
        }
        &__burger::after {
            bottom: 0;
        }

        &__menu {
            position: fixed;
            top: 91px;
            right: 0;
            transform: translate(0, -120%);

            opacity: 0;
            padding: 0px;
            z-index: 0;
            gap: 0px;

            width: 100%;
            max-width: 420px;
            height: calc(100vh - 90px);
            background: #070a0c;

            transition:
                transform 300ms ease 0ms,
                opacity 400ms ease-in 300ms;

            flex-direction: column;
            justify-content: flex-start;
            overflow-y: auto;

            &.burger-active {
                transform: translate(0%, 0%);
                opacity: 1;
                z-index: 0;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            align-items: flex-start;
            margin: 0;
            flex: none;
            gap: 0px;

            & a:not(.header__link) {
                padding: 24px 18px;
                border-bottom: 1px solid #272c30;
                width: 100%;
            }
        }
        &__link {
            padding: 24px 16px;
            & + .arrow {
                margin: 0px 16px 0px auto;
            }
        }
        &-down__menu {
            position: static;
            position: relative;
            padding: 0px;
            left: 0px;
            flex: 1 1 100%;
            max-width: 420px;
            width: 420px;
        }
        &__for-user {
            order: -1;
            justify-content: space-between;
            width: 100%;
            padding: 24px 18px;
            border-bottom: 1px solid #272c30;
        }

        & a {
            font-size: 16px;
        }

        & a.footer__product {
            padding: 24px;
            justify-content: space-between;
            p:first-child {
                font-size: 16px;
                margin-bottom: 8px;
            }
            p:last-child {
                font-size: 14px;
            }

            span.white-space {
                display: none;
            }
        }

        &__btn {
            padding: 12px 40px;
            margin: 0px;
            font-size: 18px;
            max-width: fit-content;
            width: fit-content;
        }
    }
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
    .dropdown-container .arrow {
        width: 13px;
        height: 13px;
        display: block;
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 1px;
            background: #fff;
            top: 6px;
            transition: all 300ms ease;
        }
        &::after {
            rotate: -45deg;
            right: 0px;
        }
        &::before {
            rotate: 45deg;
            left: 0px;
        }
    }
    .header {
        &__row {
            padding: 0px 15px;
            gap: 20px;
            justify-content: space-between;
        }
        &__links {
            a {
                font-size: 13px;
            }

            a,
            .dropdown-container {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        &__for-user {
            & a {
                font-size: 13px;
            }
        }
        &__btn {
            font-size: 20px;
            margin-left: 30px;
        }
        &__logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .footer__product {
            padding: 15px;
            p:first-child {
                font-size: 13px;
            }
            p:last-child {
                font-size: 10px;
            }

            img {
                width: 40px;
                height: 40px;
            }

            & > div + img {
                width: 8px;
                height: 9px;
                object-fit: contain;
            }
        }
    }
}
