.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    width: 100%;
    height: fit-content;
    background: #070a0c;
    border: 1px solid #272c30;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 64px;
    }

    &__logo {
        display: block;
        width: 121px;
        height: 58px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            object-fit: contain;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        max-width: 1300px;
    }

    &__links {
        display: flex;
        gap: 80px;
        align-items: center;
    }

    &__for-user {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__lang {
        .current {
        }
    }

    &__btn {
        padding: 18px 24px;
        font-size: 24px;
        gap: 16px;
        span {
            height: 25px;
            bottom: 10px;
        }
    }
}
