@function rem($px) {
    @return ($px / 14px) + rem;
}

.intro-finger {
    justify-content: flex-start;
    position: relative;
    margin-top: 60px;

    .rfm-marquee-container {
        position: relative;
        z-index: 10000000;
        overflow: hidden;
    }

    h1 {
        margin-right: 20px;
        font-weight: 400;
        font-size: rem(280px);
        text-align: center;
        color: #1c1818;
    }
    .container {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: calc(100% + 60px);

        border-bottom: none;
        border-top: 0px;

        .plus {
            top: 49px;
        }
    }
}
.footer-eyes {
    max-width: fit-content;
    position: relative;
    bottom: 0px;
    background: #faf8f2;
    // padding: 0px;
    margin: -55px auto;
}
.eyes {
    padding: 20px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    border: 1px solid #939597;
    border-radius: 20px;
}

.eye {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &:nth-child(1) {
        left: 40px;
    }
    &:nth-child(2) {
        right: 40px;
    }
}
