.footer {
    &__row {
        display: grid;
        gap: 48px;
        grid-template-areas:
            "product item1 item2 item3"
            "product item1 item2 item3"
            "product copy copy copy";
        grid-template-columns: 350px repeat(3, auto);
    }

    &__item {
        & a {
            display: flex;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        & h2 {
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            color: #939597;

            font-family: "RobotoMono-Regular";
        }
        &.height {
            grid-area: product;
            max-width: 100%;

            a {
                text-transform: none;
            }
        }
        &:nth-child(2) {
            max-width: fit-content;
            grid-area: item1;
        }
        &:nth-child(3) {
            max-width: fit-content;
            grid-area: item2;
        }
        &:nth-child(4) {
            max-width: fit-content;
            grid-area: item3;
            text-align: right;
            margin-left: auto;

            .btn-with-image {
                justify-content: flex-end;
            }
        }
    }

    &__product {
        margin-bottom: 28px;
        text-transform: none;
        gap: 16px;
        padding: 25px;
        justify-content: space-between;
        width: 100% !important;
        max-width: 100% !important;
        min-height: 113px;
        &:nth-child(3),
        &:nth-child(4) {
            & .border {
                background: linear-gradient(90deg, #939597 0%, #939597 100%) !important;
            }

            &::after {
                border-image: linear-gradient(90deg, #939597 0%, #939597 100%) 1 !important;
            }
            &::before {
                border-image: linear-gradient(90deg, #939597 0%, #939597 100%) 1 !important;
            }
        }

        & span.white-space {
            bottom: auto;
            top: 60%;
            height: 25px;
            transform: translate(0%, -50%);
        }

        & p:first-child {
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            font-family: "NeueMachina-Regular";
            margin-bottom: 12px;
            line-height: 1;
        }
        & p:last-child {
            font-weight: 300;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: copy;
        gap: 28px;

        & p:last-child {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.02em;
            color: #939597;
            text-transform: uppercase;
        }
    }
    &.white {
        background: #faf8f2;
        border-top: 1px solid #bebcbf;

        border-image: none;
        .container.with-shadow {
            border: 1px solid #bebcbf;
            border-top: none;
            max-width: 1060px;
            &::after {
                display: none;
            }
        }
        .footer__item {
            a {
                color: #1c1818;
                width: 100%;
                max-width: 100%;

                &:hover {
                    color: #ff7120;
                }
            }
        }
        .btn {
            & p {
                color: #1c1818 !important;
            }
            &::after,
            &::before {
                background: #faf8f2;
                border-color: #bebcbf;
                border-image: none !important;
            }
            & span.border {
                background: #bebcbf !important;
            }
            & span.white-space {
                display: none;
            }

            &:nth-child(3) {
                & span.border {
                    background: #ff7120 !important;
                }
                &::after,
                &::before {
                    background: #faf8f2;
                    border-color: #ff7120;
                    border-image: none !important;
                }
            }
        }
        .made {
            color: #1c1818;
        }
    }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
    .footer {
        .container {
            padding: 24px 15px;
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
        &__item {
            &:first-child,
            &:nth-child(2) {
                flex: 1 1 100%;
                max-width: 100%;
            }
            &:nth-child(3),
            &:nth-child(4) {
                max-width: 100%;
                flex: 0 0 calc(50% - 40px);
            }
        }
        &__copy {
            flex: 1 1 100%;
            max-width: 100%;

            & p:last-child {
                font-size: 14px;
                text-align: right;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 450px) {
    .footer.white {
        padding-top: 80px;
    }
}
