.faq {
    &.white {
        padding-bottom: 0px;
    }
    p.iterator {
        color: #ff7120;
    }

    &__question.white {
        color: #1c1818 !important;
        background: #fff !important;
        border: none;
        &::after,
        &::before {
            background: #faf8f2;
            border-color: #bebcbf;
            border-image: none !important;
        }
        & span.border {
            background: #bebcbf !important;
        }
        .faq__toggle {
            &::after,
            &::before {
                background: #1c1818;
            }
        }
    }
    &__answer.white {
        color: #1c1818;
    }
}
@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .faq {
        &__question {
            padding: 14px 20px;
            font-size: 14px;
            gap: 20px;
        }
        &__answer {
            font-size: 14px;
            padding: 14px 10px;
            line-height: 1.2;
        }
    }
}

@media only screen and (max-width: 450px) {
}
