/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  margin: 0;
  font-family: "RobotoMono-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #070a0c;
}
//оболочка страницы

#root {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
//контент самой страницы(без footer и header)
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  background: #070a0c;
  padding: 89px 0px 0px 0px;
  z-index: 2;
}

//ограниивающий контейнер
.container {
  max-width: 1120px;
  margin: 0 auto;
  z-index: 1000;
  height: 100%;
  padding: 0 30px;
  position: relative;
}

a {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.02em;
}
h1 {
  font-size: 60px;
}
h1,
h2,
h3 {
  font-family: "NeueMachina-Regular";
  color: #fff;
}
h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
h3 {
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.02em;
}
p {
  font-family: "RobotoMono-Regular";
  font-size: 18px;
  line-height: 1.2;
}
button {
  color: #fff;
}
.btn {
  position: relative;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  font-size: 14px;

  background: transparent;
  position: relative;
  border: 2px solid #fff;
  border-radius: 5px;

  max-width: fit-content;

  font-family: "NeueMachina-Regular";

  transition: all 300ms ease;

  &:before {
    content: "";
    position: absolute;
    left: -9px;
    top: -15px;
    width: 26px;
    height: 34px;
    transform: rotate(48deg);
    display: block;
    // transition: border-image 300ms ease;

    background: #070a0c;
    border-right: 2px solid #fff;
  }

  &:after {
    content: "";
    position: absolute;
    right: -10.85px;
    bottom: -15px;
    width: 26px;
    height: 34px;
    transform: rotate(228deg);
    background: #070a0c;
    border-right: 2px solid #fff;
  }

  span.white-space {
    position: absolute;
    height: 14px;
    width: 2px;
    background: #070a0c;
    left: 0px;
    bottom: 10px;
    z-index: 3;

    &.bottom {
      top: auto;
      height: 2px;
      width: 14px;

      bottom: -2px;
    }
    &.right {
      left: auto;
      right: 18px;
    }
  }
  &.btn-with-border {
    font-family: "NeueMachina-Regular";

    &:before {
      display: inline;
      border-right: 2px solid transparent;

      z-index: 2;

      left: -11.2px;
      top: -11.5px;
      width: 26px;
      height: 28px;
      transform: rotate(44deg);
    }

    &:after {
      display: block;
      border-right: 2px solid transparent;

      z-index: 2;
      right: -12.5px;
      bottom: -9.5px;
      width: 26px;
      height: 33px;
      transform: rotate(215deg);
    }

    .border {
      position: absolute;
      top: 0px;
      left: 0px;

      display: block;
      width: 100%;
      height: 100%;

      border-radius: 5px;
      padding: 2px;

      background: linear-gradient(90deg, #fff 0%, #fff 100%);

      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 1;
    }
  }
  &.btn-with-border.btn-gradient {
    background: transparent;
    color: #fff;
    font-weight: 400;

    &:before {
      border-image: linear-gradient(0deg, #3053f9 40%, #5088f8 100%) 2;
    }
    &:after {
      border-image: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%) 2;
    }
    .border {
      background: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
    }

    &:hover {
      .border {
        background: linear-gradient(45deg, #2edcf9 0%, #3050fb 50%, #41ffc2 98.77%, #2edcf9 99.95%, #3050fb 100%);
      }
      &::before {
        border-image: linear-gradient(180deg, #2c7dfa 0%, #2db5ff 100%) 2;
      }
      &::after {
        border-image: linear-gradient(0deg, #36e4c9 0%, #2f87eb 100%) 2;
      }
    }
  }
  &.btn-with-border.btn-grey {
    background: transparent;
    &:before {
      border-image: linear-gradient(0deg, #272c30 0%, #272c30 100%) 2;
    }
    &:after {
      border-image: linear-gradient(0deg, #272c30 0%, #272c30 100%) 2;
    }
    .border {
      background: linear-gradient(0deg, #272c30 0%, #272c30 100%);
    }
    &:hover {
      .border {
        background: linear-gradient(45deg, #2edcf9 0%, #3050fb 50%, #41ffc2 98.77%, #2edcf9 99.95%, #3050fb 100%);
      }
      &::before {
        border-image: linear-gradient(180deg, #2c7dfa 0%, #2db5ff 100%) 2;
      }
      &::after {
        border-image: linear-gradient(0deg, #36e4c9 0%, #2f87eb 100%) 2;
      }
    }
  }
}
.btn-with-image {
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn-gradient {
  border: none;
  background: url("./img/svgicons/web-for-btn.svg"), linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
  background-position: center;
  background-size: cover;
  font-weight: 800;
  font-size: 24px;
  color: #070a0c;
  transition: all 300ms ease;
  font-family: "NeueMachina-Ultrabold";
  &::after,
  &::before {
    border: none;
  }

  &:hover {
    background: url("./img/svgicons/web-for-btn.svg"),
      linear-gradient(45deg, #2edcf9 0%, #3050fb 50%, #41ffc2 98.77%, #2edcf9 99.95%, #3050fb 100%);
    background-position: center;
    background-size: cover;
  }
}
.btn-grey {
  border: 2px solid transparent;

  color: #939597;
  font-size: 18px;
  transition: all 300ms ease;

  &::after,
  &::before {
    border: none;
  }

  &:hover {
    background: #272c30;
    color: #fff;
  }
}

.made {
  display: flex;
  align-items: center;
  gap: 16px;

  p {
    text-transform: uppercase;
  }
}
.plus {
  width: 20px;
  height: 20px;
  position: absolute;

  &.top {
    top: -11.5px;
  }
  &.left {
    left: -12px;
  }
  &.right {
    right: -12px;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.block-dashed {
  &-top {
    border-top: 2px dashed;
    border-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='20%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e")
      2 round round;
  }
  &-sides .container {
    border-left: 2px dashed;
    border-right: 2px dashed;
    border-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='20%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e")
      2 round round;
    padding: 80px 24px;

    &.with-shadow::after {
      content: "";
      background: linear-gradient(180deg, #0000 0%, #070a0c 100%);
      position: absolute;
      bottom: 0px;
      left: -10px;
      right: -10px;
      height: 50%;
    }
  }
  &-content {
    position: relative;
    z-index: 2;
  }
}
.block-with-bg {
  position: relative;
  overflow: hidden;
  // background: url(./img/svgicons/web.svg) repeat;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(./img/svgicons/web.svg) repeat;
    opacity: 0.3;
    z-index: 0;
  }
}

.block-header {
  position: relative;
  z-index: 2;
  &.center {
    text-align: center;

    &:not(.flex) span {
      display: block;
      margin: 0 auto;
    }

    &.flex h2 {
      justify-content: center;
    }
  }
  &.border-1 {
    span {
      border: 2px solid #fff;
      padding: 16px 24px;
      border-image: url("./img/svgicons/btn-1.svg") 2 stretch;
    }
  }
  &.flex h2 {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    & p {
      max-width: 540px;
      margin-top: 20px;
    }
  }
  &.border-2 {
    span {
      border: 2px solid #fff;
      padding: 16px 24px;
      border-image: url("./img/svgicons/btn-2.svg") 2 stretch;
    }
  }

  &.border-1,
  &.border-2 {
    &:not(.flex) {
      h2 span {
        display: block;
        margin-top: 16px;
        max-width: fit-content;
      }
    }
  }

  &.mt {
    margin-top: 200px;
  }
  &.mb {
    margin-bottom: 60px;
  }
}
.block-with-substrate {
  .container {
    border: 1px solid #272c30;
    padding: 80px 24px 0px 24px;
    background: #090c0f;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: -8px;
      top: -16px;
      background: #070a0c;
      border-right: 1px solid #272c30;
      width: 27px;
      height: 51.5px;
      transform: rotate(140deg);
    }
    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: -16px;
      background: #070a0c;
      border-right: 1px solid #272c30;
      width: 27px;
      height: 51.5px;
      transform: rotate(41deg);
    }
  }
}
.label {
  .btn {
    margin: 0 auto;
  }
  &__text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #939597;
    text-align: center;
  }
}
.line {
  position: absolute;
  top: 0px;

  &.left {
    left: 0px;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  &.right {
    right: 0px;
  }
  &.center-block {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.text-gradient {
  text-transform: uppercase;
  background: linear-gradient(45deg, #3050fb 0%, #41ffc2 50%, #2edcf9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btns {
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.swiper-button-prev,
.swiper-button-next {
  transition: all 300ms ease;
  &::after {
    content: "" !important;
    width: 100%;
    height: 100%;
    background: center / contain no-repeat url("./img/svgicons/arrow.svg");
  }

  &:hover {
    opacity: 0.7;
  }
}
.swiper-button-prev {
  &::after {
    rotate: -180deg;
  }
}
div.swiper-pagination {
  display: flex;
  position: static;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  span.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #272c30;
    border-radius: 50%;
    transition: all 300ms ease;
  }
  span.swiper-pagination-bullet-active {
    background: #939597;
    opacity: 1;
  }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .label {
    display: block;
    width: 100%;
  }
  .btn {
    font-size: 16px;
    padding: 24px 27px;
    max-width: 100%;
    width: 100%;
  }
  .block-header {
    &.mt {
      margin-top: 80px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .block-header {
    & h2 {
      font-size: 24px;
    }
    &.mt {
      margin-top: 48px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .block-header.flex {
    & h2 {
      flex-direction: column;
    }
  }

  .btns {
    margin-bottom: 40px;
  }
  .label {
    &__text {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 450px) {
}
