@font-face {
  font-family: "NeueMachina-Regular";
  src: local("NeueMachina-Regular"), url("./fonts/NeueMachina-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NeueMachina-Ultrabold";
  src: local("NeueMachina-Ultrabold"), url("./fonts/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: local("RobotoMono-Regular"), url("./fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
