.intro {
    position: relative;
    min-height: calc(100vh - 450px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__info {
        position: relative;
        z-index: 2;
        h1 {
            text-align: center;
            .btn {
                font-size: 80px;
                text-align: center;
                font-family: "NeueMachina-Regular";
                padding: 24px;

                .white-space.top {
                    height: 60px;
                    bottom: 20px;
                }
                .white-space.bottom.right {
                    width: 60px;
                    right: 30px;
                }
            }
        }
    }
    img {
        position: absolute;
        top: 0px;
        width: auto;
        max-width: 600px;
        height: 100%;
        aspect-ratio: 8.6/5.1;
        object-fit: cover;

        &:first-child {
            left: 0px;
        }
        &:last-child {
            right: 0px;
        }
    }
}
.sub-intro {
    .container {
        padding: 40px 20px 40px;
    }
    .btn {
        padding-left: 128px;
        padding-right: 128px;
    }

    &__row {
        text-align: center;
        font-size: 32px;
    }

    .line {
        top: 50%;

        &.left {
            transform: translate(0%, -100%);
            left: 30%;
        }
        &.center {
            top: 50%;
            transform: translate(0%, -170%);
            left: 60%;
        }
        &.right {
            transform: translate(0%, -140%);
            right: 30%;
        }
    }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
    .intro {
        h1 {
            font-size: 48px;
            .btn {
                font-size: 48px;
            }
        }
        & img {
            width: 45%;
        }
    }
    .sub-intro {
        &__row {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .intro {
        h1 {
            font-size: 40px;
            .btn {
                font-size: 40px;
            }
        }
    }
    .sub-intro {
        .container {
            padding-bottom: 40px;
        }
        &__row {
            font-size: 18px;
        }

        .line {
            top: 50%;

            &.left {
                transform: translate(0%, -100%);
                left: 12%;
            }
            &.center {
                top: 50%;
                transform: translate(0%, -170%);
                left: 60%;
            }
            &.right {
                transform: translate(0%, -120%);
                right: 18%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .sub-intro {
        .line {
            display: none;
        }
    }
}

@media only screen and (max-width: 450px) {
    .intro {
        align-items: flex-start;
        min-height: 500px;
        padding-top: 24px;
        img:first-child {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
            bottom: 0px;
            top: auto;
            right: auto;
            left: 0;
            aspect-ratio: 3.7/2.1;
        }
        &__row {
        }
    }
    .sub-intro {
        &__row {
            font-size: 16px;
        }
    }
}
