.intro {
    position: relative;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 18/4;
    &__info {
        position: relative;
        z-index: 2;
        & h1 {
            display: flex;
            flex-direction: column;
            gap: 24px;
            text-align: center;
            & div.button {
                font-size: 60px;
                text-align: center;
                font-family: "NeueMachina-Regular";
                padding: 20px 24px;
                background: transparent;
                border: 2px solid transparent;
                border-image: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
                border-image-slice: 1;
                color: #fff;

                font-weight: 400;
                position: relative;
                span.white-space {
                    position: absolute;
                    height: 14px;
                    width: 2px;
                    background: #070a0c;
                    left: -2px;
                    bottom: 5px;

                    &.bottom {
                        top: auto;
                        height: 2px;
                        width: 14px;

                        bottom: -2px;
                    }
                    &.right {
                        left: auto;
                        right: 18px;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: -8px;
                    top: -16px;
                    width: 27px;
                    height: 51.5px;
                    transform: rotate(40deg);
                    transition: border-image 300ms ease;
                    display: block;
                    border-right: 2px solid transparent;
                    border-image: linear-gradient(0deg, #3053f9 40%, #5088f8 100%);
                    border-image-slice: 1;
                    opacity: 1;
                    background: #070a0c;
                }

                &:after {
                    content: "";
                    position: absolute;
                    transform: rotate(50deg);
                    right: -9px;
                    bottom: -16px;
                    width: 28px;
                    height: 51.5px;
                    transform: rotate(220deg);
                    display: block;
                    border-right: 2px solid transparent;
                    border-image: linear-gradient(90deg, #3053f9 0%, #3ffbc7 59%, #35e9e4 100%);
                    border-image-slice: 1;
                    opacity: 1;
                    background: #070a0c;
                }
                .white-space.top {
                    height: 40px;
                    bottom: 22px;
                }
                .white-space.bottom.right {
                    width: 60px;
                    right: 30px;
                }
            }
        }
    }
    video {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: fill;
        left: 0px;
    }
}
.sub-intro {
    .container {
        padding: 40px 20px 40px;
    }
    .btn {
        padding: 20px 128px;
    }

    &__row {
        text-align: center;
        font-size: 32px;
    }

    .line {
        top: 50%;

        &.left {
            transform: translate(0%, -100%);
            left: 30%;
        }
        &.center {
            top: 50%;
            transform: translate(0%, -170%);
            left: 60%;
        }
        &.right {
            transform: translate(0%, -140%);
            right: 30%;
        }
    }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
    .intro {
        &__info {
            h1 {
                font-size: 48px;
                div.button {
                    font-size: 48px;
                }
            }
        }
        & img {
            width: 45%;
        }
    }
    .sub-intro {
        &__row {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .intro {
        &.block-with-bg {
            &::after {
                opacity: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .intro {
        &__info {
            h1 {
                font-size: 40px;
                div.button {
                    font-size: 40px;
                }
            }
        }
    }
    .sub-intro {
        .container {
            padding-bottom: 40px;
        }
        &__row {
            font-size: 18px;
        }

        .line {
            top: 50%;

            &.left {
                transform: translate(0%, -100%);
                left: 12%;
            }
            &.center {
                top: 50%;
                transform: translate(0%, -170%);
                left: 60%;
            }
            &.right {
                transform: translate(0%, -120%);
                right: 18%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .sub-intro {
        .line {
            display: none;
        }
    }
    .intro {
    }
}

@media only screen and (max-width: 450px) {
    .intro {
        align-items: flex-start;
        min-height: 500px;
        padding-top: 24px;
        video {
            display: block;
            right: 0%;
            left: auto;
            width: fit-content;
            height: 50%;
            top: auto;
            bottom: 0px;
        }
        &__row {
        }
    }
    .sub-intro {
        &__row {
            font-size: 16px;
        }
    }
}

@media only screen and (max-height: 770px) and (min-width: 992px) {
    //     .content {
    //         padding-top: 79px;
    //     }
    //     .btn {
    //         font-size: rem(18px);
    //     }
    //     h2 {
    //         font-size: rem(28px);
    //         margin-bottom: em(28px);
    //     }
    //     h3 {
    //         font-size: 16px;
    //         margin-bottom: 14px;
    //     }
    //     p {
    //         font-size: 14px;
    //     }
    //     .block-header.border-2 span {
    //         padding: 10px 15px;
    //     }
    .header {
        &__row {
            padding: 10px 15px;
        }
        &__links {
            a {
                font-size: 13px;
            }
        }
        &__for-user {
            & a {
                font-size: 13px;
            }
        }
        &__btn {
            font-size: 20px;
        }
        .footer__product {
            padding: 15px;
            p:first-child {
                font-size: 13px;
            }
            p:last-child {
                font-size: 10px;
            }

            img {
                width: 40px;
                height: 40px;
            }

            & > div + img {
                width: 8px;
                height: 9px;
                object-fit: contain;
            }
        }
    }
    //     .dropdown-menu {
    //         padding-top: 45.5px;
    //     }
    //     .dropdown-container .arrow {
    //         width: 15px;
    //         height: 10px;
    //         &::after,
    //         &::before {
    //             width: 9px;
    //             height: 2px;
    //             top: 6px;
    //         }
    //     }
    //     .intro {
    //         min-height: 300px;
    //         h1 {
    //             font-size: 38px;
    //             div.button {
    //                 font-size: 38px;
    //             }
    //         }
    //     }
}
