@function rem($px) {
    @return ($px / 14px) + rem;
}
.about-finger {
    &__row {
        display: flex;
        gap: rem(48px);
    }
    &__aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 300px;

        h2 {
            span {
                text-align: center;
                max-width: 100% !important;
            }
        }
    }
    &__main {
        font-weight: 400;
        font-size: rem(24px);
        color: #1c1818;
        line-height: 1.2;
    }
}
