.interface {
    .container {
        padding-bottom: 40px;
    }
    &__video {
        width: 70%;
        height: auto;
        aspect-ratio: 4/2.5;
        position: relative;
        margin: 0 auto 60px;
        filter: url("#rounded-corners");
        & video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0px;
            left: 0px;
            z-index: 1;
            border-radius: 5px;
            clip-path: polygon(6% 0, 94% 0, 100% 10%, 100% 90%, 94% 100%, 6% 100%, 0 90%, 0 10%);
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: 80px;
        position: relative;
        z-index: 3;

        & + h2 {
            margin-top: 160px;
            margin-bottom: 0px;
        }
    }
    &__item {
        position: relative;

        h3 {
            font-size: 24px;
        }
        & img {
            position: absolute;
            bottom: 85%;
            left: -20px;
            pointer-events: none;
        }
        p {
            text-align: justify;
        }

        &:first-child {
            & img {
                right: 20px;
                left: auto;
                // height: 300%;
            }
        }
    }
}
@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 992px) {
    .interface {
        &__item {
            img {
                display: none;
            }
        }
        &__row {
            display: block;
        }
        &__video {
            width: 100%;
        }
        .swiper-wrapper {
            counter-reset: counteIrnterface 0;
        }
        .swiper-slide {
            &::before {
                content: "0" counter(counteIrnterface);
                counter-increment: counteIrnterface 1;
                transform: none;
                position: static;
                display: block;
                border: none;
                font-weight: 400;
                font-size: 24px;
                color: #fff;
                background: url("../../../img//svgicons/cornerHow.svg");
                background-size: cover;
                padding: 18px 0px 0px 24px;
                width: fit-content;
                display: block;
                height: fit-content;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            text-align: center;
        }
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
    .interface {
        .container {
            padding-top: 24px;
        }
        &__row {
            & + h2 {
                margin-top: 116px;
                font-size: 24px;
            }
        }
        .block-header {
            margin-bottom: 24px;
            span {
                margin-top: 0px !important;
            }
            h2 {
                margin-bottom: 0px;
            }
        }
        &__video {
            aspect-ratio: 3.46/1.95;
            margin-bottom: 24px;
            .corner {
                width: 60px;
                height: 30px;
            }
        }
        .swiper-slide {
            &::before {
                height: 56px;
                width: 56px;
                font-size: 18px;
                padding-top: 21.5px;
                padding-left: 17px;
                margin-bottom: 24px;
            }
        }
        &__item {
            h3 {
                font-size: 18px;
                max-width: 140px;
                text-align: center;
                margin: 0px auto 24px;
            }
            p {
                font-size: 16px;
                max-width: 280px;
                text-align: center;
                margin: 0px auto;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
}
// @media only screen and (max-height: 770px) and (min-width: 992px) {
//     .interface {
//         .container {
//             padding-top: 20px;
//         }
//         &__video {
//             width: 60%;
//             margin: 0 auto 60px;
//             aspect-ratio: 3/1.37;
//             .corner {
//                 width: 50px;
//             }
//             .corner.left {
//                 left: -30px;
//                 top: -30px;
//             }
//             .corner.right {
//                 right: -30px;
//                 top: -30px;
//             }
//         }
//         &__row {
//             gap: 20px;
//         }
//         &__item {
//             &:first-child {
//                 img {
//                     height: 320px;
//                     left: 70%;
//                     bottom: 70%;
//                 }
//             }
//             &:nth-child(2) {
//                 img {
//                     height: 220px;
//                 }
//             }
//             &:nth-child(3) {
//                 img {
//                     height: 220px;
//                 }
//             }
//         }
//     }
// }
