@function rem($px) {
    @return ($px / 14px) + rem;
}

.intro-finger {
    justify-content: flex-start;
    position: relative;
    margin-top: 60px;

    .rfm-marquee-container {
        position: relative;
        z-index: 10000000;
        overflow: hidden;
    }

    h1 {
        margin-right: 20px;
        font-weight: 400;
        font-size: rem(280px);
        text-align: center;
        color: #1c1818;
    }
    .container {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: calc(100% + 60px);

        border-bottom: none;
        border-top: 0px;

        .plus {
            top: 49px;
        }
    }
}
