@function rem($px) {
    @return ($px / 14px) + rem;
}

.intro-finger {
    justify-content: flex-start;
    position: relative;
    margin-top: 70px;
    aspect-ratio: auto;
    z-index: 1;
    padding: rem(20px) 0px rem(25px);

    .rfm-marquee-container {
        position: relative;
        z-index: 10000000;
        overflow: hidden;
    }

    h1 {
        margin-right: rem(120px);
        font-weight: 400;
        font-size: rem(160px);
        text-align: center;
        color: #1c1818;
    }
    .container {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: calc(100% + 60px);

        border-bottom: none;
        border-top: 0px;

        .plus {
            top: 50px;
            width: fit-content;
        }
    }
}
@media only screen and (max-height: 770px) and (min-width: 992px) {
    .intro-finger {
        padding: rem(40px) 0px rem(45px);
        height: calc(100vh - 150px - 310px);
    }
}
@media only screen and (max-width: 1920px) {
    .intro-finger {
        .container {
            height: calc(100% + 120px);
            top: -120px;
            .plus {
                top: 110px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .intro-finger {
        h1 {
            font-size: 189px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .intro-finger {
        h1 {
            font-size: 180px;
        }
    }
}
@media only screen and (max-width: 450px) {
    .intro-finger {
        min-height: auto;

        h1 {
            font-size: 120px;
        }
    }
}
