@function rem($px) {
    @return ($px / 14px) + rem;
}

.intro-finger {
    justify-content: flex-start;
    position: relative;
    margin-top: 60px;
    aspect-ratio: auto;

    padding: rem(44px) 0px;

    .rfm-marquee-container {
        position: relative;
        z-index: 10000000;
        overflow: hidden;
    }

    h1 {
        margin-right: 20px;
        font-weight: 400;
        font-size: rem(280px);
        text-align: center;
        color: #1c1818;
    }
    .container {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: calc(100% + 60px);

        border-bottom: none;
        border-top: 0px;

        .plus {
            top: 49px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .intro-finger {
        h1 {
            font-size: 220px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .intro-finger {
        h1 {
            font-size: 180px;
        }
    }
}
@media only screen and (max-width: 450px) {
    .intro-finger {
        min-height: auto;
        h1 {
            font-size: 120px;
        }
    }
}
